<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	let goWriteForm = function() {
		location.href = "/board-mvc/member/join"
	}
</script>
</head>
<body>
	<h2>회원 리스트</h2>
	
	<table border="1">
		<tr>
			<th>??</th>
			<th>??</th>
			<th>??</th>
			<th>??</th>
		</tr>
		<tr th:each="member : ${memberList}">
			<td th:text="${member.id}">123</td>
				<a th:text="${board.title}" th:href="@{/member/{id} (id=${member.id})}"></a>
				
			</td>
			<td th:text="${member.name}"></td>
			<td th:text="${member.regDate}"></td>
		</tr>
	</table>
	<br>
	<button onclick="goJoinForm">회원 가입</button>

</body>
</html>