<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', function() {

		const listBtn = document.getElementById("lBtn")
		const mBtn = document.getElementById("mBtn")

		// 목록이동
		listBtn.addEventListener('click', function() {
			location.href = /*[[@{/board}]]*/ '/board-mvc/board'
		})

		// 수정이동
		if (mBtn) {
			mBtn.addEventListener('click', function() {
				location.href = /*[[@{/board/modify/{no}(no=${board.no})}]]*/ '/board-mvc/board/modify/1'
			})
		}

	})
</script>
</head>
<body>
	<h2>상세 게시글</h2>
	<hr>

	<table border="1">
		<tr>
			<td>번호</td>
			<td th:text="${board.no}"></td>
		</tr>
		<tr>
			<td>제목</td>
			<td th:text="${board.title}"></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td th:text="${board.writer}"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td th:text="${board.content}"></td>
		</tr>
		<tr>
			<td>조회수</td>
			<td th:text="${board.viewCnt}"></td>
		</tr>
		<tr>
			<td>등록일</td>
			<td th:text="${board.regDate}"></td>
		</tr>
	</table>
	<br>
	<span th:if="${session.userVO != null and session.userVO.id == board.writer}">
		<button id="mBtn">수정</button>
	</span>
	<button id="lBtn">목록</button>

</body>
</html>